<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="/static/css/font-awesome-4.7.0.min.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/static/js/password.js"></script>
    </head>
	<body>
        <form class="form-1" method="post">
            <h2>Change Password</h2>
            <p class="field">
                <input id="user" type="text" name="user" placeholder="Username">
                <i class="fa fa-user fa-lg"></i>
            </p>
            <p class="field">
                <input id="password" type="password" name="password" placeholder="Old Password">
                <i class="fa fa-lock fa-lg"></i>
            </p>
            <p class="field">
                <input id="newPassword1" type="password" placeholder="New Password">
                <i class="fa fa-lock fa-lg"></i>
            </p>
            <p class="field">
                <input id="newPassword2" type="password" placeholder="Confirm New Password">
                <i class="fa fa-lock fa-lg"></i>
            </p>
            
            <p class="submit">
                <button id="passwdbtn" type="button" name="submit">Confirm</button>
            </p>
        </form>
	</body>
</html>