<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/main.css" rel="stylesheet">
	</head>
	<body>
		<form action="{{.Path}}" method="GET">
    	<button type="submit">Edit</button>
		</form>
		<article>{{.Text}}</article>
	</body>
</html>